@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', 'sans-serif';
}

body{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: #0c0ce94d;
}

.conteiner
{
    width:120% ;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212 );
}

.from-image
{
    width: 500%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;

}

.from-image img
{
    width: 31rem;

}

.form
{
    width: 500%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 1-rem;
}
.form-heder{
    margin-bottom: 1.5rem;
    margin-top: 5px;

    display: flex;
    justify-content:space-between;
    gap: 80px;
}

.long-button button{
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}

.long-button button:hover{
    background-color: #6b63fff1;
    
    
}
.long-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;

}

.form-heder h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-box input{
    margin: 0.3rem 0;
    padding: 0.4rem 1.2rem;
    border: none;
    border-radius:10px; 
    display: block;
    box-shadow: 1px 1px 6px #0000001c;

}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #6c63ff;
}

.input-box input::placeholder{
color: #000000be;
}

label {
    display: block;

}
 
select{
    margin: 0.3rem 0;
    padding: 0.4rem 1.2rem;
    border: none;
    border-radius:10px; 
    display: block;
    box-shadow: 1px 1px 6px #0000001c; 

}

select:hover{
    background-color: #eeeeee75;
}

select:focus-visible{
    outline: 1px solid #6c63ff;

}

select::placeholder{
    color: #000000be;
}

.textoCentralizado {
    margin-bottom: 0;
    text-align: center;
}
.flexCentral {
    display: flex;
    justify-content: center;
    }
.submit-reset button{
    order: none;
    background-color: #6c63ff;
    padding: 0.4rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border: 0.1px  #6c63ff;
   
}

.submit-reset botton :hover{
    background-color: #6b63fff1;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;

}
 .gender-input{
    display: flex;
    align-items: center;
 }
.gender-input input{
margin-right: 0,35rem;
}

.gender-input label{
    font-size: 0.81;
    
}

@media screen and (max-width:1330px) {
    .from-image {
        display: none;
}
.conteiner{
    width: 150%;
}
 .form {
    width: 300%;
 }
}


@media screen and (max-width:750px) {
    .conteiner {
        width: 102%;
        right: auto;
    }

    .input-grup {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 40rem;
        padding-right: 5rem;
    }
    
}